## Day-2 Session
### 02-02-2022

### Input and Output Methods
- Reading the data or information from the user----***input()***  
    - Static input
    - Dynamic input
- Displaying the information or data to the user----***print()***

In [11]:
a=input()
a

10

'10'

In [12]:
a=input()
a

50

'50'

In [13]:
a=input("Enter user value=")
a

Enter user value=410

'410'

In [14]:
a=50
b=60
print(a)
print(b)

50
60

In [15]:
a=float(input("Enter the user value"))
a

Enter the user value45

45.0

In [16]:
a=input("Enter a value")
print(a)

Enter a value11
11

In [17]:
a=input("Enter a value\t")
print(a)

Enter a value	55
55

In [18]:
a=20
b=30
c=40
print(a,b,c)

20 30 40

In [19]:
a=20
b=30
c=40
print(a,b,c,sep=",",end="%")

20,30,40%

In [20]:
a=20
b=30
c=40
print(a,b,c,sep=",",end="\n")
print(c)

20,30,40
40

In [21]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [22]:
# Generate three values from the user the value separate with $ and end with % 
a=input("Enter the value a=")
b=input("Enter the value b=")
c=input("Enter the value c=")
print(a,b,c,sep="$ ",end="%")
print("\n",a,c)

Enter the value a=10
Enter the value b=10
Enter the value c=20
10$ 10$ 20%
 10 20

### Operators
- Arithmatic operators(+,-,*,**,/,//,%)
    - Output for the normal division is quotient
    - Output for the integer division or floor division is integer part of the quotient.
    - Output for the module division is remainder.
- Assignment operators(=)
- Comparision operators(<,>,<=,>=,==)
- Logical operators(and,or,not)
- Bitwise operators(&,|,^)
- Identity operators(is(==),isnot(!=))
- Membership operators(in,notin)

### Arithmatic operators

In [23]:
a=7
b=2
print("Addition",a+b)
print("Subtraction",a-b)
print("Multiplication",a*b)
print("Power",a**b)
print("Division",a/b)
print("int division or floor division",a//b)
print("Modulo division",a%b)

Addition 9
Subtraction 5
Multiplication 14
Power 49
Division 3.5
int division or floor division 3
Modulo division 1

### Assignment operators
- It is represented with "="
- Leftside value of the operator(=) is called as variable.
- Rightside value of the operator(=) is called as value.

In [24]:
a=50
b=60
print(a)
print(b)

50
60

### Comparision operators

In [25]:
2>5

False

In [26]:
2<5

True

In [27]:
if 2>9 and 2<=6:
    print("print true or false")
else:
    print("Leave it")

Leave it

In [28]:
2>=7

False

In [29]:
2<=6

True

### Logical Operators
- and,or,not
- If all the inputs are true the output is True (and)
- If any of the input is true the output is true (or)
- Opposite operation for the given one (not)

In [30]:
2>5 and 3<6

False

In [31]:
2<5 and 3<6

True

In [32]:
2<5 or 3<6

True

In [33]:
2>5 or 3<6

True

In [34]:
2>5 or 3>6

False

In [35]:
a=100
a

100

In [36]:
a=100
not a

False

In [37]:
a=False
not a

True

### Bitwise Operators

In [38]:
2 & 3
# 2-0 0 1 0
# 3-0 0 1 1
# ----------
# - 0 0 1 0

2

In [39]:
2|7

7

In [40]:
2|3

3

### Identity Opeartors

In [41]:
# Identity operators
a is 100 and a is not 100

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\Lab\AppData\Local\Temp/ipykernel_3900/2908208210.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 100 and a is not 100
C:\Users\Lab\AppData\Local\Temp/ipykernel_3900/2908208210.py:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is 100 and a is not 100

False

In [42]:
a==100 and a!=100

False

## Membership Operators

In [43]:
a=[1,2,3,7,8]
3 in a

True

In [44]:
a=[1,2,3,7,8]
4 in a

False

In [45]:
7 in a

True

In [46]:
a=55
a+=1  #------->a=a+1
print(a)
a-=1  #------->a=a-1
print(a)
a*=1  #------->a=a*1
print(a)
a/=1  #------->a=a/1
print(a)

56
55
55
55.0

### Flow control
- Conditional satements(if,else,else-if,nested if)
- Loops(for,while)
- Break,Return

In [47]:
'''C-Language
if(condition)
{
    print(a)
}'''

'C-Language\nif(condition)\n{\n    print(a)\n}'

### Conditional statements

In [48]:
#if
if(condition):
    statement 1
    statement 2
    ----------
    statement n

SyntaxError: invalid syntax (Temp/ipykernel_3900/1740280430.py, line 3)

In [ ]:
#if-else
if(condition):
    statement 1
    statement 2
    ----------
    statement n
else:
    statement 1
    statement 2
    ----------
    statement n

In [ ]:
if 2>3:
    print("True")
else:
    print("False")

In [ ]:
if 2>3:
    print("True")
    print("False")

In [ ]:
# Given number is even or odd
n=int(input("Enter the number="))
if(n%2==0):
    print("The Given number is Even")
else:
    print("The Given number is Odd")

In [1]:
# Given number is zero or positive or negative
n=int(input("Enter the numnber="))
if(n>0):
    print("The given number is Positive")
elif(n==0):
    print("The given number is Zero")
else:
    print("The given number is negative")

Enter the numnber=85
The given number is Positive

In [2]:
# number is divisible by 2 but not divisible by 10
a=int(input("Enter the number="))
if(a%2==0)and(a%10!=0):
    print("The given Number is divisible by 2 but not divisible by 10")
else:
    print("invalid number")

Enter the number=52
The given Number is divisible by 2 but not divisible by 10

### Range
- Syntax for the range is range(start,endvalue,step value)
- Starting value is inclusive and end value is exclusive.
- Range(start,end,step)

In [ ]:
range(10,20,1)
# 10,11,12,13,14,15,16,17,18,19
range(20,30,2)
# 20,22,24,26,28
range(20,41,5)
# 20,25,30,35,40
range(50)
# consider as end value
range(20,30)
# consider start value and end value
# Reverse print
range(10,20,-1)
# [20, 19, 18, 17, 16, 15, 14, 13, 12, 11]

In [49]:
list(range(10,20,1))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [50]:
list(range(20,30,2))

[20, 22, 24, 26, 28]

In [51]:
list(range(20,41,5))

[20, 25, 30, 35, 40]

In [53]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
list(range(20,30))

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [57]:
list(range(20,10,-1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11]

### Loops
- for,while
- For Loop:::A for loop in python is a control flow statement that is used to repeatedly execute a group of statements as long as the condition is satisfied.Such a type of statemnt is also known as an iterative statement therefore a for loop is an iterative statement.

In [ ]:
Synatx:::
for iter in iterable: # Range predefined function in the position of iterable
    statement 1
    statement 2
    statement 3
    -----------
    statement n

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(0,11,2):
    print(i,end=",")

0,2,4,6,8,10,

In [8]:
# Print the even numbers in the range 0 to 100 and print even number count
c=0
for i in range(0,101,2):
    c=c+1
    print(i,end=" ")
print("\nEven number count=",c)

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
Even number count= 51

In [9]:
# Print the even numbers in the range 0 to 100 and print even number count
c=0
for i in range(0,101):
    if(i%2==0):
        c=c+1
        print(i,end=" ")
print("\nEven number count=",c)

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
Even number count= 51

In [21]:
# print leapm years in between the 2000 and 2020 and print the count
x=int(input())
y=int(input())
c=0
for i in range(x,y+1):
    if(i%400==0) and (i%100!=0) or (i%4==0):
        c=c+1
        print(i,end=" ")
print("\nyears count:",c)

2000
2020
2000 2004 2008 2012 2016 2020
years count: 6

In [23]:
# print 5th table
n=5
for i in range(1,11):
    print(n,"*",i,"=",n*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [30]:
# Print factors of 5
n=5
for i in range(1,6):
    if(n%i==0):
        print("The Factors of 5 are",i)

The Factors of 5 are 1
The Factors of 5 are 5

In [39]:
# print factors of any number
n=int(input("Enter the number"))
for i in range(1,n+1):
    if(n%i==0):
        print(i,end=" ")

Enter the number52
1 2 4 13 26 52

In [44]:
# I/P=aba
# 97+98+97=292
# O/P=292
x=input()
s=0
for i in x:
    s=s+ord(i)
print(s)

abc
294

In [51]:
# Print it is a prime number or not
n=int(input("Enter the number="))
c=0
for i in range (1,n+1):
    if(n%i==0):
        c=c+1
if(c==2):
    print("It is a prime number")
else:
    print("It is not a prime number")

Enter the number=5
It is a prime number

In [2]:
# Tp print even and odd numbers from 0 to 10
a=int(input("Enter the number="))
b=int(input("Enter the b value="))
print("Even Numbers:",end=" ")
for i in range(a,b+1):
    if(i%2==0):
        print(i,end=" ")
print("\nOdd Numbers:",end=" ")
for x in range(a,b+1):
    if(x%2!=0):
        print(x,end=" ")

Enter the number=0
Enter the b value=10
Even Numbers: 0 2 4 6 8 10
Odd Numbers: 1 3 5 7 9

In [34]:
a=int(input("Enter the number="))
b=int(input("Enter the b value="))
for i in range(a,b+1):
    if(i%2==0):
        print("The even numbers",i)
    if(i%2!=0):
        print("The odd numbers",i)

Enter the number=1
Enter the b value=10
The odd numbers 1
The even numbers 2
The odd numbers 3
The even numbers 4
The odd numbers 5
The even numbers 6
The odd numbers 7
The even numbers 8
The odd numbers 9
The even numbers 10